* {
    box-sizing: border-box;
}
  
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
  pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var, b, u, i, center,
  dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
  thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
  header, hgroup, menu, nav, output, ruby, section, summary,
  time, mark, audio, video    {
   margin: 0;
   padding: 0;
}
  ul {
    list-style: none;
}
h1, .h1{
    font-size: 4rem;            /*******64px******/
}
h2 {
   font-size: 2.25rem           /*****36px*****/
}
h3 {
    font-size: 2rem;           /*****32px*****/
}
h4, .h4{
    font-size: 1.5rem;         /******24px*****/
}
h5, .h5 {
    font-size: 1.25rem;       /********20px*****/
}
p {
    font-size: 1rem;          /******16px*****/
}
a {
    text-decoration: none;
}
:root {
    --color-rich-black:#0A1C26;
    --color-charcoal:#203B49;
    --color-beige:#9D8E64;
    --color-white:#ffff;
}
.spartan-font {
    font-family: 'League Spartan', sans-serif
}
.bold {
    font-weight: 700;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.beige {
    color: var(--color-beige);
}
body {
    text-align: center;
    background-color: var(--color-rich-black);
    color: var(--color-white);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
    min-height: 100vh; /*for layout purposes*/
}
/*****header******/
.headerbar {
    display: grid;
    grid-template-columns: 300px 1fr;
    background: rgba(32, 59, 73, 0.1);
    gap: 40%;
}
.headerbar-logo {
    line-height: 64px;
    margin-left: 1.5rem;
}
.nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    height: 100%;
    line-height: 64px;
}
.nav-link {
    text-decoration: none;
    color: var(--color-white);
}
.header {
    background-image: url(./images/HeroImage.png);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: 100vh;
    position: relative;
}
.hero-text {
    text-align: justify;
    position: absolute;
    top: 70%;
    left: 36%;
    transform: translate(-50%, -50%);
}
.hero-line {
    border: 3px solid var(--color-beige);
    width: 50%;
    margin: 0;
}
  /*********section style******/
  .section-number {
    color: var(--color-charcoal);
}
.section-container {
    margin-top: 6rem;
    margin-bottom: 8rem;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: justify;
    gap: 10rem;
}
.section-image {
    height: 760px;
    width: 540px;
    object-fit: cover;
}
.section-text {
    margin-top: 25%;
    margin-bottom: 25%;
}
.section-title {
    color: var(--color-white);
}
  .section-decription {
    color: var(--color-white);
}
  .wiki-link {
    color: var(--color-beige);
    text-decoration: underline;
}
  /*******about******/
.about {
    text-align: center;
    color: var(--color-white);
    margin-left: 35%;
    margin-right: 35%;
}
  /*****signup page******/
.signup-section {
    margin: 8rem;
    text-align: center;
}
.signup-form {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 30%;
    padding-right: 30%;
}
label {
    text-align: left;
    font-weight: 400;
}
.signup-input {
    background-color: var(--color-rich-black);
    border-color: var(--color-beige);
    border-style:solid;
    box-shadow: unset;
}
.signup-button {
    background-color: transparent;
    border-color: var(--color-beige);
    border-style: solid;
}
/*****footer****/
.social-icons {
    display: inline-block;
}
/******for mobile phones ******/
@media only screen and (max-width: 1300px) {
    .nav-list {
        grid-template-columns: 1fr;
    }
    .headerbar {
        grid-template-columns: 1fr;
        grid-template-rows: 100px;
        gap: unset;
        place-items: center;
    }
    .headerbar-logo {
        margin-left: unset;
    }
    .section-container {
        grid-template-columns: 1fr;
        place-items: center;
    }
}
